<?xml version="1" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1//EN" "http://www.apple.com/DTDs/PropertyList-1.dtd">
<plist version="1">
<dict>
	<key>items</key>
	<array>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Code Idea/Base</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>@Nepeta</string>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>Nepeta</string>
            <key>user</key>
            <string>NepetaDev</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Marquee Label</string>
        </dict>
        <dict>
            <key>cellClass</key>
            <string>HBLinkTableCell</string>
            <key>label</key>
            <string>Charles Powell</string>
            <key>url</key>
            <string>https://github.com/cbpowell</string>
        </dict>
	</array>
	<key>title</key>
	<string>Liddell</string>
</dict>
</plist>
